<template name="nav">
<nav class="title-bar" data-responsive-toggle="top-bar-menu" data-hide-for="medium">
  <div class="title-bar-left">
    <a href="{{pathFor 'home'}}"><img src="http://placehold.it/150x48&text=logo" alt="Logo"></a>
  </div>

  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-toggle></button>
  </div>
</nav>

<nav class="top-bar" id="top-bar-menu">
  <div class="row">
    <div class="top-bar-left show-for-medium">
      <ul class="menu menu-items">
        <li><a href="{{pathFor 'home'}}"><img src="http://placehold.it/150x48&text=logo" alt="logo"></a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal menu menu-items" data-responsive-menu="drilldown medium-dropdown">
        <li>
          <a href="">Categories</a>
          <ul class="menu vertical ">
            <li>
              <a href="#">Item 1A</a>
              <ul class="menu vertical ">
                <li><a href="#">Item 1Ai</a></li>
                <li><a href="#">Item 1Aii</a></li>
                <li><a href="#">Item 1Aiii</a></li>
              </ul>
            </li>
            <li><a href="#">Item 1B</a></li>
            <li><a href="#">Item 1C</a></li>
          </ul>
        </li>
        <li>
          <a href="{{pathFor 'videoRoom'}}">Video</a>
        </li>
        <li>
          <a href="{{pathFor 'addRoom'}}">Add Room</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




















</template>